/* imports */
@import url("https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css");

/* variables and shit */
:root {
  /* self explanatory (hopefully) */
  --background-accent: #14171f !important;

  /* colour of links (including in embeds) */
  --text-link: #d9a2eb;
  --text-link-shade: #d9a2eb80;
  --text-link-highlight: #d9a2eb10;

  /* Color of mentions */
  --mention: #df3030;
  --mention-highlight: #df303029;

  /* colour of right hand side of screen and chat */
  --background-primary: #101219 !important;
  --b-p-override: #101219;

  /* embed backround/text channel list/member list colour */
  --background-secondary: #101219 !important;

  /* colour of change status/mute mic/deafen/user settings patch */
  --background-secondary-alt: #0c0e13 !important;

  /* colour of panel when you click on server name/edit message */
  --background-floating: #0e1016 !important;

  /* colour of border around [top of] discord */
  --background-tertiary: #060709 !important;

  /* colour of text box that you type in */
  --channeltextarea-background: var(--background-accent) !important;

  /* colours of things when you hover over them; e.g. a channel/user */
  --background-modifier-hover: #ffffff03 !important;
  --background-modifier-active: #ffffff08 !important;
  --background-modifier-selected: #ffffff0a !important;

  /* colour of channel name's text */
  --channels-default: #9f9f9f !important;

  /* colour of message when hovering over it */
  --message-hover: #15181e60 !important;

  /* colour of search bar */
  --search-menu-colour: #0c0e13 !important;

  /* colour of spoilered text */
  --spoiler-colour: #00000d;

  /* colour for the following things:
     - channel icon, text with "Today at ..." by message
     - "Message #channel/user" */
  --text-muted: #b6b6b6 !important;

  /* colour of text in messages and discord logo in top
  left hand corner */
  --text-normal: #fbfbfb !important;

  /* colour of interactive buttons when looked at, e.g.:
     - pinned messages
     - mute mic/deafen/user settings
     - mentions inbox
     - text names of settings */
  --interactive-normal: #c8c8c8 !important;

  /* colour of text/button in interactive buttons (and text channel
  names) when hovered over */
  --interactive-hover: #9d3ebd !important;

  /* colour of things that are currently selected (e.g. colour of
  channel name that you are participating in) */
  --interactive-active: #e8a1ff !important;

  /* colour of muted channel names */
  --interactive-muted: #614869 !important;

  /* colour of:
     - text in a codeblock
     - text in a channel topic when you look but don't click on it
     - the bit that says ROLES and NOTE when looking at profile
       via member list
     - the colour of someone's username (if they don't have a nickname)
       when accessed via member list */
  --header-secondary: #c9c9c9 !important;

  /* i dont know what any of the following does but i suppose
  its important yo */
  --toast-background: var(--background-primary) !important;
  --toast-header: var(--background-tertiary) !important;
  --toast-contents: var(--background-secondary) !important;
  --toast-border: var(--background-tertiary) !important;
  --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
  --offline-color: #3c3c3c !important;

  /* Margins */
  --margin: 5px;
  --radius: 10px;
}

/* Add role box (thanku Luckfire!!!) */
/* Add Role header */
.container-VSDcQc>.header-2bNvm4 {
  background-color: var(--background-secondary) !important;
}

.container-VSDcQc>.autocompleteShadow-iiGWFU {
  background-color: var(--background-primary) !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--background-secondary);
}

.container-VSDcQc>.autocompleteArrowWrapper-3Z7OuM>.autocompleteArrow-Zxoy9H {
  background-color: var(--background-primary) !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--background-secondary);
}

/* Hiding the @ symbol in DMs (thanks to turkey snapper#0001!) */
/* apparently this only works if discord is in english
  this actually hides the button itself */
[aria-label="Direct Message"] {
  display: none;
}

/* pads it 12px from the left so the name doesnt look squished */
.cursorPonter-YEp76E {
  padding-left: 12px;
}

/* Colour of boxes of ANY POPUP e.g. delete/pin message
(thank you so much LuckFire#4800!!!) */
.root-1gCeng {
  background-color: var(--background-primary) !important;
}

/* Blurred notes on a user (when clicked in member list
and on profile) */
.note-QfFU8y textarea {
  filter: blur(5px);
  transition: 0.2s cubic-bezier(0.2, 0.11, 0, 1);
}

.note-QfFU8y textarea:focus,
.note-QfFU8y textarea:hover {
  filter: none;
  transition: 0.2s cubic-bezier(0.2, 0.11, 0, 1);
}

.note-3HfJZ5 textarea {
  filter: blur(5px);
  transition: 0.2s cubic-bezier(0.2, 0.11, 0, 1);
}

.note-3HfJZ5 textarea:focus,
.note-3HfJZ5 textarea:hover {
  filter: none;
  transition: 0.2s cubic-bezier(0.2, 0.11, 0, 1);
}

/* Bot tags */
/* colour of the tag (backround and text) */
[class*="botTagCozy-"],
[class*="botTag-"] {
  background-color: var(--interactive-hover);
}

/* not too sure what this does but without it, the colour
  is just a box inside the tag rather than the whole tag being
  the same colour */
.botTagRegular-2HEhHi span,
.botTagInvert-18-95s span {
  display: none;
}

/* ah yes, the boat tag */
.botTagRegular-2HEhHi::after,
.botTagInvert-18-95s::after {
  content: "🤖";
}

/* Message delete */
.theme-dark .message-2qRu38 {
  background-color: var(--background-primary) !important;
}

/* Discord icon colour in top left hand corner */
.homeIcon-tEMBK1 {
  color: var(--text-link);
}

/* Discord watermark text in top left hand corner */
.wordmark-2iDDfm svg {
  width: 0px;
}

.wordmark-2iDDfm:after {
  font-family: "Discord";
  content: "This is definitely not illegal what are you talking about...";
  font-size: 2px;
  background: rgb(255, 255, 255, 0.3);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 6px;
}

/* Tiffany blue Discord join/explore buttons */
.circleIconButton-jET_ig svg path {
  fill: var(--text-link);
}

.circleIconButton-jET_ig.selected-ugP_am {
  background-color: var(--text-link);
}

.circleIconButton-jET_ig.selected-ugP_am svg path {
  fill: white;
}

/* Feedback emojis after a call */
.emojiHappy-1hbF93 {
  background-image: url("/assets/da3651e59d6006dfa5fa07ec3102d1f3.svg");
}

.emojiNeutral-14asfM {
  background-image: url("/assets/fa9b378aed10bba1aea54ca34e76fe4b.svg");
}

.emojiSad-1GqgAQ {
  background-image: url("/assets/9dc0c15c9e35f7ba86150ae12e895d29.svg");
}

/* Friend list, block list, etc */
.peopleColumn-29fq28 {
  background-color: var(--background-accent);
}

/* Hide GIF and present boxes when typing a message */
.button-3AYNKb {
  display: none;
}

/* Hide the help button on the upper right */
.iconWrapper-2OrFZ1[aria-label="Help"] {
  display: none;
}

/* Make the embed border "wrap around" the embed a bit more */
.embed-IeVjo6 {
  border-radius: 3px;
}

/* Mention suggestions when typing @something */
.autocompleteInner-zh20B_ {
  background-color: var(--background-tertiary) !important;
}

.selectorSelected-1_M1WV {
  background-color: var(--background-floating) !important;
}

/* Message delete TEXT BOX colour */
.theme-dark .message-2qRu38 {
  background-color: var(--channeltextarea-background) !important;
}

/* Message hovering */
div.message-2qnXI6:hover {
  background-color: var(--message-hover) !important;
}

/* Make pinned messages wider */
.messagesPopoutWrap-1MQ1bW {
  width: 550px;
}

/* Profile when clicked in member list */
/* footer colour */
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignCenter-1dQNNs.noWrap-3jynv6.headerTop-3C2Zn0 {
  background-color: var(--background-tertiary) !important;
}

/* no idea what this does tbh */
.scroller-2FKFPG.systemPad-3UxEGl.bodyInner-245q0L {
  background-color: #300050 !important;
  /* edited from var(--background-secondary) */
}

/* role box backround colour */
.body-3iLsc4 {
  background-color: var(--background-secondary-alt) !important;
}

/* footer colour (where "Message @user" and "Right click user for more" are embedded) */
.footer-1fjuF6 {
  background-color: var(--background-secondary-alt) !important;
}

/* colour of "Message @user" box */
.quickMessage-2XpSaN.quickMessage-1yeL4E {
  background-color: var(--background-tertiary) !important;
}

/* colour of the "Playing" box */
.activityUserPopout-2yItg2.activity-11LB_k {
  background-color: var(--background-tertiary) !important;
}

/* no idea what this does lol */
.button-1Pkqso.button-38aScr.lookOutlined-3sRXeN.colorWhite-rEQuAQ.buttonSize-2Pmk-w.fullWidth-1orjjo.grow-q77ONN {
  background-color: var(--background-secondary) !important;
}

/* Better Playing Modals, again from Luckfire#4800 :') */
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
  background-color: var(--background-accent);
}

.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
  background-color: var(--background-accent);
}

.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
  background-color: var(--background-accent);
}

/* Reaction box colour */
/* main box */
.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
  background-color: var(--background-primary) !important;
}

/* colour of scroller on side listing emoji reaction counts */
.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
  background-color: var(--background-primary) !important;
}

/* Search bar colour */
.searchBar-3dMhjb {
  background-color: var(--search-menu-colour) !important;
}

/* Sets backround colour for when you click on Server Boost */
.perksModalContentWrapper-2HU6uL {
  background: var(--background-accent) !important;
}

/* Spoilers */
/* spoiler colour */
.spoilerWarning-2aAZq1,
.spoilerText-3p6IlD.hidden-HHr2R9 {
  background-color: var(--spoiler-colour) !important;
}

/* reveal spoiler on hover (click as well ofc) */
.spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
  opacity: 1;
  border-radius: 3px;
}

/* Inline status selection */
.status-1fhblQ,
.description-2L932D {
  display: none;
}

.separator-2I32lJ {
  display: none;
}

.mask-1qbNWk.icon-1IxfJ2 {
  --status-icon-size: 75%;
  height: var(--status-icon-size);
  width: var(--status-icon-size);
  margin-left: 33%;
}

.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8>.menu-3sdvDG.styleFixed-sX-yHV>.scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  visibility: visible;
}

.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
  grid-column: 1/5;
}

.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
  transition: opacity 0.15s linear 0s;
}

.customText-tY5LJn {
  font-size: 15px;
}

/* Sticker blocking disabled*/
/* .wrapper-2a6GCs .assetWrapper-3GNt0z[style] {
  height: auto !important;
  width: auto !important;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active {
  height: 160px !important;
  width: 160px !important;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:after {
  content: "1 blocked sticker - show sticker";
  color: var(--text-link);
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active:after {
  content: none;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:hover:after {
  text-decoration: underline;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style] .lottieCanvas-1W7L-f,
.wrapper-2a6GCs .assetWrapper-3GNt0z[style] .pngImage-33yLRP {
  display: none;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active .lottieCanvas-1W7L-f,
.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active .pngImage-33yLRP {
  display: block;
} */

/* Tweak Create Text Channel colours */
/* changes colour of main box */
.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y {
  background-color: var(--background-primary);
}

/* changes colour of footer */
.modal-2VIBV8.root-1gCeng>.footer-2gL1pp {
  /* turkey snapper you're a genius thank you */
  background-color: var(--background-secondary-alt);
}

/* Upload popup */
/* colour of upload box */
.uploadModal-2ifh8j {
  background-color: var(--background-primary) !important;
}

/* colour of the footer of the box where upload and spoiler button */
.footer-3mqk7D {
  background-color: var(--background-secondary-alt) !important;
}

/* VC backround image */
.minimum-28Z35l>.root-217Brm,
.video--KPXCT>.root-217Brm {
  background: url("https://media.discordapp.net/attachments/737004305571381299/848337545535684630/fire.png") center/100% no-repeat;
}

.minimum-28Z35l>.root-217Brm::before,
.video--KPXCT>.root-217Brm::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.65);
}

.videoControls-24w7Xp>.topControls-KKImPZ>div>.headerWrapper-3NUKsd>.title-3qD0b-,
.videoControls-24w7Xp>.topControls-KKImPZ>div>.headerWrapper-3NUKsd>.transparent-2ZlE3R {
  box-shadow: none !important;
}

/* Revert mentions */
.wrapper-3WhCwL {
  color: var(--text-link) !important;
  background: var(--text-link-highlight) !important;
}

.wrapper-3WhCwL:hover {
  background: var(--background-accent) !important;
}

/* Revert reactions */
.reaction-1hd86g {
  border-radius: .25rem;
  background: var(--background-secondary);

  border-color: transparent !important;
}

.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
  color: var(--header-secondary);
}

.reaction-1hd86g:hover {
  background: var(--background-accent) !important;
}

/* Revert loading tip title color */
.tipTitle-GL9qAt {
  color: var(--header-secondary) !important;
}

/* Revert home icon */
.homeIcon-FuNwkv>path {
  d: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z");
}

/* Revert ping mention button being link colored (used to be brand) */
.colorLink-2vG20E.size14-e6ZScH.mentionButton-3710-W {
  color: var(--text-link) !important;
}

/* Borders to separate sections so they can have the same color */
/* Side bar borders */
.content-98HsJk {
  margin: var(--margin) var(--margin) var(--margin) 0px;
}

.sidebar-2K8pFh {
  margin-right: var(--margin);
}

.scroller-RmtA4e {
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius) var(--radius) 0px 0px;
  margin: var(--margin) 0px;
}

.clickable-25tGDB .header-2V-4Sw {
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius);
}

.sidebar-2K8pFh,
.container-3w7J-x,
.chat-3bRxxu {
  background-color: transparent;
}

/* Status */
.panels-j1Uci_,
.container-3baos1,
.container-3baos1 .avatar-SmRMf2 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Chat borders */
.content-yTz4x3,
.scrollerInner-2YIMLh,
.form-2fGMdU {
  background-color: transparent;
  border-radius: var(--radius);
}

.chatContent-a9vAAp {
  margin: var(--margin) var(--margin) 0px 0px;
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius);
}

.scroller-2LSbBU,
.scrollerInner-2YIMLh {
  background-color: transparent;
}

.messagesWrapper-1sRNjr,
.scrollerContent-WzeG7R {
  border-radius: var(--radius);
}

/* Top bar */
.container-1r6BKw.themed-ANHk51 {
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius);
}

/* Member list */
.members-1998pB,
.members-1998pB>div {
  margin-top: var(--margin);
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius);
}

/* Slim unread badges */
.unread-2lAfLh {
  width: 1px;
  border-radius: 0px;
  height: 34px;
  position: absolute;
  top: 4px;
  background-color: var(--text-link-shade);
}

/* Red mentions */
.mentioned-xhSam7 {
  background-color: var(--mention-highlight);
  border-radius: 0px 50px 50px 0px;
  width: 950px;
}

.mentioned-xhSam7::before {
  background-color: var(--mention);
}

/* Roles shape */
.role-2irmRk {
  display: flex;
  border-radius: 5px;
}

.roleCircle-3xAZ1j {
  border-radius: 3px;
}

/* Settings left side */
.sidebarRegionScroller-3MXcoP {
  background-color: var(--background-tertiary);
}

.contentRegionScroller-26nc1e {
  background-color: var(--background-secondary-alt);
}

/* Theme toggler */
.cardPrimary-1Hv-to {
  background-color: var(--background-primary);
}

/* Search bar */
.searchResultsWrap-3-pOjs {
  background-color: transparent;
}

.scroller-3GIiMh {
  border-radius: var(--radius);
  background-color: var(--background-secondary-alt);
}

#search-results {
  background-color: transparent !important;
}

#search-results>.focused-2bY0OD {
  background-color: var(--background-secondary) !important;
}

.channelName-1JRO3C {
  background-color: transparent;
}

.searchFilter-2ESiM3,
.searchAnswer-3Dz2-q {
  background-color: var(--background-secondary-alt) !important;
}

#search-results {
  background-color: var(--background-secondary) !important;
}

#search-results>.focused-2bY0OD {
  background-color: transparent !important;
}

.option-96V44q.selected-rZcOL- {
  background-color: transparent !important;
}

.option-96V44q::after {
  background: transparent !important;
}

.option-96V44q.selected-rZcOL-::before {
  background: var(--background-secondary-alt) !important;
  padding-left: 10px;
}

.react-datepicker,
.react-datepicker__header {
  background-color: var(--background-secondary) !important;
}

.react-datepicker__day:not(:hover):not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month) {
  background-color: var(--background-secondary-alt) !important;
}

.react-datepicker__day {
  border-color: var(--background-tertiary) !important;
}

.react-datepicker__day--disabled,
.react-datepicker__day--outside-month {
  background-color: var(--background-primary) !important;
}

/* Remove stage channel notification. */
.channelNotice-2bJINM {
  display: none;
}

/* Channel permissions role list background*/
.scroller-305q3I {
  background-color: transparent;
}

/* Slash-command header*/
.categoryHeader-O1zU94 {
  background-color: var(--background-tertiary);
}

.theme-dark .selected-1Tbx07 {
  background-color: var(--background-primary);
}

.animatedContainer-1NSq4T,
.bannerImage-3KhIJ6 {
  position: absolute;
  z-index: 3;
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Rounded server menu */
.scroller-3BxosC,
.menu-3sdvDG {
  border-radius: var(--radius);
  background-color: var(--background-tertiary);
}

/* Pins menu */
.messagesPopoutWrap-1MQ1bW {
  border-radius: var(--radius);
}

.messageGroupWrapper-o-Zw7G {
  background-color: var(--background-tertiary);
  border-radius: var(--radius);
}

/* Inbox menu */
.channel-3pEHab,
.channelHeader-3Gd2xq {
  border-radius: var(--radius);
  margin: var(--margin);
  background-color: var(--background-tertiary);
}

.messages-3G3erD {
  margin: 0px var(--margin);
  background-color: transparent;
}

/* Mentions menu */
.container-3iAQ-0 {
  background-color: var(--background-tertiary);
  margin: var(--margin);
  border-radius: var(--radius);
}

.messageContainer-gbhlwo {
  background-color: transparent;
}

/* Home top bar */
.theme-dark .container-1D34oG {
  background-color: transparent;
}

/* Home channels */
.scroller-1JbKMe {
  margin: var(--margin) 0px;
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius) var(--radius) 0px 0px;
}

.searchBar-6Kv8R2 {
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius);
}

.privateChannels-1nO12o {
  background-color: transparent;
}

/* Add friend box */
.sectionHeader-20RGqu {
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius);
  margin: var(--margin) 0px;
}

.theme-dark .friendSelected-1sa4bG {
  background-color: transparent;
  border-radius: var(--radius);
}

.peopleColumn-29fq28 {
  background-color: transparent;
}

/* Friend activity */
.nowPlayingColumn-2sl4cE {
  background-color: transparent;
}

.container-lRFx4q {
  background-color: transparent;
}

.scroller-2ZPeAD {
  margin: var(--margin) 0px var(--margin) var(--margin);
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius);
}

.stageSection-3mAD8V {
  background-color: transparent;
}

/* Stage discovery */
.container-24CyRY {
  background-color: var(--background-secondary-alt);
  margin-top: var(--margin);
  border-radius: var(--radius);
}

/* Nitro tab */
.applicationStore-1pNvnv {
  background-color: transparent;
}

.scroller-9moviB {
  margin-top: var(--margin);
  background-color: var(--background-secondary-alt);
  border-radius: var(--radius);
}

/* Separator? */
.body-1ld4H7,
.theme-dark .inset-3sAvek {
  background-color: transparent;
}

.form-2fGMdU {
  border-radius: 0 0 var(--radius) var(--radius);
  background-color: var(--background-secondary-alt);
}

.theme-dark .form-2fGMdU:before {
  display: none;
}